<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Inventory App</title>
</head>
<body>
    <%- include('../partials/nav.ejs') %>
    <div id="mainBody">
        <h2>All Items</h2>
        <hr>
        <form action="/items" method="get">
            <select name="selectedCatg" id="selectedCatg" onchange="this.form.submit()">
                <option value="0">All Categories</option>
                <%locals.catgs.forEach(catg => {%>
                    <option value="<%=catg.id%>" <%=catg.id == locals.selCatg ? "selected" : ""%>><%=catg.name%></option>
                <%})%>
            </select>
        </form>
        <div id="itemsWrapper">
            <% locals.items.forEach(item => {%>
                <a href="items/<%=item.id%>">
                    <div class="item">
                        <div style="<%= "background-color: hsl(" + Math.floor(Math.random() * 360) + ", 100%, 50%);" %>"></div>
                        <h3><%=item.name%></h3>
                        <p><%=item.price + "$"%></p>
                        <p class="itemSellerP">Seller: <%=item.seller_name%></p>
                    </div>
                </a>
            <% }); %>
        </div>
    </div>
</body>
</html>